* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
body {
    min-height: 100vh;
    background: rgb(241, 241, 241);
}
.main-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 8px;
}
.student-card {
    position: relative;
    border-radius: 8px;
    background: white;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.student-sub-head {
    color: rgb(122, 122, 122);
}
@media only screen and (max-width: 600px) {
    .main-container {
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (min-width: 600px) {
    .main-container {
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (min-width: 768px) {
    .main-container {
        grid-template-columns: repeat(5,1fr);
    }
}
@media only screen and (min-width: 1000px) {
    .main-container {
        grid-template-columns: repeat(6,1fr);
    }
}